<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web></system.web>
    <appSettings>
        <add key="AWSProfilesLocation" value="C:\Users\Admin\.aws/credentials" />
        <add key="AWSProfileName" value="production" />
        <add key="AWSRegion" value="ap-southeast-1" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>