# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - ccccccz

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_31c4703d73d246bd88a3b520b2fe3c83 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_9710223aa5a648c3bb93b598485b70e5 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_31c4703d73d246bd88a3b520b2fe3c83 }}/donephit/city-discover-tourist-server:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'ccccccz'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_84b30d07dfb1411a88c2091ed9c4bc00 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_31c4703d73d246bd88a3b520b2fe3c83 }}/donephit/city-discover-tourist-server:${{ github.sha }}'